<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    {% include 'menu.html' %}
    <main class="container mt-5">
        <div class="card">
            <div class="card-header">
                <h1>Send us a message</h1>
            </div>
            <div class="card-body" >
                <form method="post" class="needs-validation">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="text-center mt3">
                            <button type="submit" class="btn btn-success">Submit</button> 
                            <a href="{% url 'home' %}" class="btn btn-primary">Home</a>
                    </div>
                </form>
            </div>
        </div>
                
     
            {% if form.errors %}
            <div class="alert alert-danger mt-3">
                <ul>
                    {% for field, errors in form.errors.items %}
                        {% for error in errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        
    </main>
    <footer class="footer bg-light text-center py-3 mt-4">
        <p>&copy; Since '24</p>
    </footer>
</body>
</html>