<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <main class="container mt-5">
        <div class = "card">
        <div class="card-header">
            <h1>Edit Profile</h1>
        </div>
        <div class="card-body">
            <div class="text-center">
                {% if user.profile_picture %}
                    <img src="{{ user.profile_picture.url }}" class="rounded-circle" alt="Profile Picture" width="150" height="150">
                {% else %}
                    <div class="rounded-circle" style="width: 150px; height: 150px; background-color: #e9ecef;"></div>
                {% endif %}
            </div>
        <form method="post" enctype = "multipart/form-data">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {% if field.name != 'profile_picture' %}
                        {{ field }}
                    {% else %}
                        <input type="file" name="{{ field.name }}" class="form-control">
                    {% endif %}
                    {% if field.errors %}
                        <div class="alert alert-danger">
                            {{ field.errors }}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            <div class = "text-center mt-3">
                <button type="submit" class="btn btn-success">Save changes</button>
                <a href="{% url 'profile' %}" class="btn btn-secondary">Cancel</a>
                </div>
        </form>  
        {% if form.non_field_errors %}
                    <div class="alert alert-danger mt-3">
                        {% for error in form.non_field_errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
        {% endif %}      
    </div>
    </main>
    <footer class="footer bg-light text-center py-3 mt-4">
        <p>&copy; Since '24</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>