header{
    position: relative;
}

/* Stilizare header */
.catalog{
    position: absolute;
    left: 50%;
    size: 600px;
    color:purple;
    transform: translateX(-50%);
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
}

