--
-- PostgreSQL database dump
--

-- Dumped from database version 17.0
-- Dumped by pg_dump version 17.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: storeapp_category; Type: TABLE; Schema: django; Owner: alex6damian
--

CREATE TABLE django.storeapp_category (
    category_id integer NOT NULL,
    name character varying(255) NOT NULL,
    description text NOT NULL
);


ALTER TABLE django.storeapp_category OWNER TO alex6damian;

--
-- Name: storeapp_category_category_id_seq; Type: SEQUENCE; Schema: django; Owner: alex6damian
--

ALTER TABLE django.storeapp_category ALTER COLUMN category_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME django.storeapp_category_category_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: storeapp_category; Type: TABLE DATA; Schema: django; Owner: alex6damian
--

COPY django.storeapp_category (category_id, name, description) FROM stdin;
1	Papuci barbati	Incaltaminte lejera
2	Adidasi barbati	Incaltaminte sport
\.


--
-- Name: storeapp_category_category_id_seq; Type: SEQUENCE SET; Schema: django; Owner: alex6damian
--

SELECT pg_catalog.setval('django.storeapp_category_category_id_seq', 2, true);


--
-- Name: storeapp_category storeapp_category_pkey; Type: CONSTRAINT; Schema: django; Owner: alex6damian
--

ALTER TABLE ONLY django.storeapp_category
    ADD CONSTRAINT storeapp_category_pkey PRIMARY KEY (category_id);


--
-- PostgreSQL database dump complete
--

