--
-- PostgreSQL database dump
--

-- Dumped from database version 17.0
-- Dumped by pg_dump version 17.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: storeapp_discount; Type: TABLE; Schema: django; Owner: alex6damian
--

CREATE TABLE django.storeapp_discount (
    discount_id integer NOT NULL,
    code character varying(20) NOT NULL,
    rate double precision NOT NULL,
    expiration_date date NOT NULL
);


ALTER TABLE django.storeapp_discount OWNER TO alex6damian;

--
-- Name: storeapp_discount_discount_id_seq; Type: SEQUENCE; Schema: django; Owner: alex6damian
--

ALTER TABLE django.storeapp_discount ALTER COLUMN discount_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME django.storeapp_discount_discount_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: storeapp_discount; Type: TABLE DATA; Schema: django; Owner: alex6damian
--

COPY django.storeapp_discount (discount_id, code, rate, expiration_date) FROM stdin;
1	oct5	5	2024-11-30
2	oct20	20	2024-11-21
\.


--
-- Name: storeapp_discount_discount_id_seq; Type: SEQUENCE SET; Schema: django; Owner: alex6damian
--

SELECT pg_catalog.setval('django.storeapp_discount_discount_id_seq', 2, true);


--
-- Name: storeapp_discount storeapp_discount_pkey; Type: CONSTRAINT; Schema: django; Owner: alex6damian
--

ALTER TABLE ONLY django.storeapp_discount
    ADD CONSTRAINT storeapp_discount_pkey PRIMARY KEY (discount_id);


--
-- PostgreSQL database dump complete
--

