--
-- PostgreSQL database dump
--

-- Dumped from database version 17.0
-- Dumped by pg_dump version 17.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: storeapp_order_product; Type: TABLE; Schema: django; Owner: alex6damian
--

CREATE TABLE django.storeapp_order_product (
    id bigint NOT NULL,
    order_id integer NOT NULL,
    product_id integer NOT NULL
);


ALTER TABLE django.storeapp_order_product OWNER TO alex6damian;

--
-- Name: storeapp_order_product_id_seq; Type: SEQUENCE; Schema: django; Owner: alex6damian
--

ALTER TABLE django.storeapp_order_product ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME django.storeapp_order_product_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: storeapp_order_product; Type: TABLE DATA; Schema: django; Owner: alex6damian
--

COPY django.storeapp_order_product (id, order_id, product_id) FROM stdin;
1	1	1
2	1	2
\.


--
-- Name: storeapp_order_product_id_seq; Type: SEQUENCE SET; Schema: django; Owner: alex6damian
--

SELECT pg_catalog.setval('django.storeapp_order_product_id_seq', 2, true);


--
-- Name: storeapp_order_product storeapp_order_product_order_id_product_id_f621b32c_uniq; Type: CONSTRAINT; Schema: django; Owner: alex6damian
--

ALTER TABLE ONLY django.storeapp_order_product
    ADD CONSTRAINT storeapp_order_product_order_id_product_id_f621b32c_uniq UNIQUE (order_id, product_id);


--
-- Name: storeapp_order_product storeapp_order_product_pkey; Type: CONSTRAINT; Schema: django; Owner: alex6damian
--

ALTER TABLE ONLY django.storeapp_order_product
    ADD CONSTRAINT storeapp_order_product_pkey PRIMARY KEY (id);


--
-- Name: storeapp_order_product_order_id_f9d412d9; Type: INDEX; Schema: django; Owner: alex6damian
--

CREATE INDEX storeapp_order_product_order_id_f9d412d9 ON django.storeapp_order_product USING btree (order_id);


--
-- Name: storeapp_order_product_product_id_c7628bb4; Type: INDEX; Schema: django; Owner: alex6damian
--

CREATE INDEX storeapp_order_product_product_id_c7628bb4 ON django.storeapp_order_product USING btree (product_id);


--
-- Name: storeapp_order_product storeapp_order_produ_order_id_f9d412d9_fk_storeapp_; Type: FK CONSTRAINT; Schema: django; Owner: alex6damian
--

ALTER TABLE ONLY django.storeapp_order_product
    ADD CONSTRAINT storeapp_order_produ_order_id_f9d412d9_fk_storeapp_ FOREIGN KEY (order_id) REFERENCES django.storeapp_order(order_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: storeapp_order_product storeapp_order_produ_product_id_c7628bb4_fk_storeapp_; Type: FK CONSTRAINT; Schema: django; Owner: alex6damian
--

ALTER TABLE ONLY django.storeapp_order_product
    ADD CONSTRAINT storeapp_order_produ_product_id_c7628bb4_fk_storeapp_ FOREIGN KEY (product_id) REFERENCES django.storeapp_product(product_id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

