--
-- PostgreSQL database dump
--

-- Dumped from database version 17.0
-- Dumped by pg_dump version 17.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: storeapp_product_order; Type: TABLE; Schema: django; Owner: alex6damian
--

CREATE TABLE django.storeapp_product_order (
    id bigint NOT NULL,
    product_id integer NOT NULL,
    order_id integer NOT NULL
);


ALTER TABLE django.storeapp_product_order OWNER TO alex6damian;

--
-- Name: storeapp_product_order_id_seq; Type: SEQUENCE; Schema: django; Owner: alex6damian
--

ALTER TABLE django.storeapp_product_order ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME django.storeapp_product_order_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: storeapp_product_order; Type: TABLE DATA; Schema: django; Owner: alex6damian
--

COPY django.storeapp_product_order (id, product_id, order_id) FROM stdin;
\.


--
-- Name: storeapp_product_order_id_seq; Type: SEQUENCE SET; Schema: django; Owner: alex6damian
--

SELECT pg_catalog.setval('django.storeapp_product_order_id_seq', 1, false);


--
-- Name: storeapp_product_order storeapp_product_order_pkey; Type: CONSTRAINT; Schema: django; Owner: alex6damian
--

ALTER TABLE ONLY django.storeapp_product_order
    ADD CONSTRAINT storeapp_product_order_pkey PRIMARY KEY (id);


--
-- Name: storeapp_product_order storeapp_product_order_product_id_order_id_ab81d6d8_uniq; Type: CONSTRAINT; Schema: django; Owner: alex6damian
--

ALTER TABLE ONLY django.storeapp_product_order
    ADD CONSTRAINT storeapp_product_order_product_id_order_id_ab81d6d8_uniq UNIQUE (product_id, order_id);


--
-- Name: storeapp_product_order_order_id_833655b7; Type: INDEX; Schema: django; Owner: alex6damian
--

CREATE INDEX storeapp_product_order_order_id_833655b7 ON django.storeapp_product_order USING btree (order_id);


--
-- Name: storeapp_product_order_product_id_ab38456b; Type: INDEX; Schema: django; Owner: alex6damian
--

CREATE INDEX storeapp_product_order_product_id_ab38456b ON django.storeapp_product_order USING btree (product_id);


--
-- Name: storeapp_product_order storeapp_product_ord_order_id_833655b7_fk_storeapp_; Type: FK CONSTRAINT; Schema: django; Owner: alex6damian
--

ALTER TABLE ONLY django.storeapp_product_order
    ADD CONSTRAINT storeapp_product_ord_order_id_833655b7_fk_storeapp_ FOREIGN KEY (order_id) REFERENCES django.storeapp_order(order_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: storeapp_product_order storeapp_product_ord_product_id_ab38456b_fk_storeapp_; Type: FK CONSTRAINT; Schema: django; Owner: alex6damian
--

ALTER TABLE ONLY django.storeapp_product_order
    ADD CONSTRAINT storeapp_product_ord_product_id_ab38456b_fk_storeapp_ FOREIGN KEY (product_id) REFERENCES django.storeapp_product(product_id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

