 --
-- PostgreSQL database dump
--

-- Dumped from database version 17.0
-- Dumped by pg_dump version 17.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: storeapp_product; Type: TABLE; Schema: django; Owner: alex6damian
--

CREATE TABLE django.storeapp_product (
    product_id integer NOT NULL,
    name character varying(255) NOT NULL,
    price double precision NOT NULL,
    stock integer NOT NULL,
    image_url character varying(2083) NOT NULL,
    category_id integer NOT NULL,
    dealer_id integer NOT NULL
);


ALTER TABLE django.storeapp_product OWNER TO alex6damian;

--
-- Name: storeapp_product_product_id_seq; Type: SEQUENCE; Schema: django; Owner: alex6damian
--

ALTER TABLE django.storeapp_product ALTER COLUMN product_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME django.storeapp_product_product_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: storeapp_product; Type: TABLE DATA; Schema: django; Owner: alex6damian
--



--
-- Name: storeapp_product_product_id_seq; Type: SEQUENCE SET; Schema: django; Owner: alex6damian
--

SELECT pg_catalog.setval('django.storeapp_product_product_id_seq', 18, true);


--
-- Name: storeapp_product storeapp_product_pkey; Type: CONSTRAINT; Schema: django; Owner: alex6damian
--

ALTER TABLE ONLY django.storeapp_product
    ADD CONSTRAINT storeapp_product_pkey PRIMARY KEY (product_id);


--
-- Name: storeapp_product_category_id_5c530b9c; Type: INDEX; Schema: django; Owner: alex6damian
--

CREATE INDEX storeapp_product_category_id_5c530b9c ON django.storeapp_product USING btree (category_id);


--
-- Name: storeapp_product_dealer_id_6c14195f; Type: INDEX; Schema: django; Owner: alex6damian
--

CREATE INDEX storeapp_product_dealer_id_6c14195f ON django.storeapp_product USING btree (dealer_id);


--
-- Name: storeapp_product storeapp_product_category_id_5c530b9c_fk_storeapp_; Type: FK CONSTRAINT; Schema: django; Owner: alex6damian
--

ALTER TABLE ONLY django.storeapp_product
    ADD CONSTRAINT storeapp_product_category_id_5c530b9c_fk_storeapp_ FOREIGN KEY (category_id) REFERENCES django.storeapp_category(category_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: storeapp_product storeapp_product_dealer_id_6c14195f_fk_storeapp_; Type: FK CONSTRAINT; Schema: django; Owner: alex6damian
--

ALTER TABLE ONLY django.storeapp_product
    ADD CONSTRAINT storeapp_product_dealer_id_6c14195f_fk_storeapp_ FOREIGN KEY (dealer_id) REFERENCES django.storeapp_dealer(dealer_id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

